@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 94%);
  overflow: hidden;
}
main {
  width: 90%;
  margin: 20% auto;
  padding: 10% 15px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 100px 20px;
}
.top {
  display: flex;
  justify-content: space-around;
}
.input-container {
  display: flex;
  flex-direction: column;
}
input {
  width: 92px;
  font-size: 32px;
  font-weight: 700;
  padding: 8px;
  border-radius: 5px;
}
input::placeholder {
  font-size: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label {
  opacity: 0.6;
  font-weight: 700;
}
.div-line {
  position: relative;
  width: 100%;
  margin-top: 25px;
}
.div-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 8%, 0.2);
  transform: translateY(-50%);
  z-index: 1;
}

.icon-con {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 40%;
  z-index: 2;
}
img {
  width: 60%;
  height: auto;
}

img:hover {
  cursor: pointer;
}
.botton {
  margin-top: 20px;
}
h2 {
  font-size: 3rem;
}
span {
  color: hsl(259, 100%, 65%);
}

.error-state{
  color: red; 
  
}

.error-state input{
  color: black;
  border-color: red; 
  outline-color: red;
}



@media (min-width: 576px) {
  main {
    width: 50%;
    height: 550px;
    margin: 8% auto;
    padding: 3.5%;
  }
  h2 {
    font-size: 4.5rem;
  }

  .botton {
    margin-top: 0;
  }

  .icon-con {
    left: 70%;
  }
}
